name: Daily Option Chain Update

on:
    workflow_dispatch:

jobs:
  update-option-chain:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pandas pytz

      - name: Run Option Chain script
        run: python Scripts/nifty_options.py

      - name: Commit and push if changed
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add Data/Option.csv
          git commit -m "Auto update Option Chain $(date)" || exit 0
          git push
